CREATE TABLE public.ad_banners ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, position text NOT NULL, slot_id text, title text NOT NULL, image_url text, link_url text, is_active boolean DEFAULT true, sort_order integer DEFAULT 0, width text, height text, created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL ); ALTER TABLE public.ad_banners ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Public
read
access
for
ad_banners\ ON public.ad_banners FOR SELECT USING (true); CREATE POLICY \Admins
can
manage
ad_banners\ ON public.ad_banners FOR ALL USING ( (auth.jwt() -> 'app_metadata' ->> 'role') = 'admin' OR lower(auth.jwt() ->> 'email') = 'rishoshi@gmail.com' OR lower(auth.jwt() ->> 'email') = 'mohamed.rashed93@gmail.com' );
